<div class="container">
  <form name = "input" action = "/cool_url" method="post">
    First name: <input type="text" name="firstname"><br>
    Last name: <input type="text" name="lastname">
    <input type="submit">
  </form>
</div>
