<h1>Rocking it <%= @first_name %> <%=@last_name %> !</h1>

<h2> Are you <%= @first_name + " " + @last_name %>?</h2>
<form>
  <label><input type="radio" name="cool_factor" value="Yes">Yes, cuz I'm rad! </label> 
  <br>
  <label><input type="radio" name="cool_factor" value="No"> Nope, I'm lame... </label>
  <br>
  <input type="submit">
</form>

